@font-face {
  font-family: SoSans;
  src: url('./sosans.woff2');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: SoSans, Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f0fbec;
}

#root {
  margin: 0 auto;
}

pre {
  color: black;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  justify-self: start;
  text-align: left;
}

.input-group {
  background-color: #ffffff;
  width: 400px;
  padding: 24px;
  box-shadow: 0 12px 24px 0 rgba(45, 73, 88, 0.15);
  border-radius: 8px;
  margin-bottom: 24px;
}

.input-item {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px;
  align-items: center;
}

.input-item:not(:last-child) {
  margin-bottom: 10px;
}

.input-group input {
  -webkit-tap-highlight-color: transparent;
  appearance: textfield;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  color: #262626;
  display: block;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  letter-spacing: -0.3px;
  line-height: 24px;
  opacity: 1;
  outline: none;
  padding: 0 15px;
  transition: border 0.17s ease-in-out, box-shadow 0.17s ease-in-out;
  width: 100%;
  color: #464646;
}

input[type='text'] {
  background-color: #fffcc8;
}

.input-group label {
  color: rgba(38, 38, 38, 0.55);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  justify-self: start;
  text-align: left;
}
